You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

In [1]:
# #1 + #2
import pandas as pd
import numpy as np

# help(pd.DataFrame.drop)
help(np.sort)

Help on function sort in module numpy.core.fromnumeric:

sort(a, axis=-1, kind='quicksort', order=None)
    Return a sorted copy of an array.

    Parameters
    ----------
    a : array_like
        Array to be sorted.
    axis : int or None, optional
        Axis along which to sort. If None, the array is flattened before
        sorting. The default is -1, which sorts along the last axis.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, optional
        Sorting algorithm. Default is 'quicksort'.
    order : str or list of str, optional
        When `a` is an array with fields defined, this argument specifies
        which fields to compare first, second, etc.  A single field can
        be specified as a string, and not all fields need be specified,
        but unspecified fields will still be used, in the order in which
        they come up in the dtype, to break ties.

    Returns
    -------
    sorted_array : ndarray
        Array of the same type and shape as `a`.

    See Also
    --------
    ndarray.sort : Method to sort an array in-place.
    argsort : Indirect sort.
    lexsort : Indirect stable sort on multiple keys.
    searchsorted : Find elements in a sorted array.
    partition : Partial sort.

    Notes
    -----
    The various sorting algorithms are characterized by their average speed,
    worst case performance, work space size, and whether they are stable. A
    stable sort keeps items with the same key in the same relative
    order. The three available algorithms have the following
    properties:

    =========== ======= ============= ============ ========
       kind      speed   worst case    work space   stable
    =========== ======= ============= ============ ========
    'quicksort'    1     O(n^2)            0          no
    'mergesort'    2     O(n*log(n))      ~n/2        yes
    'heapsort'     3     O(n*log(n))       0          no
    =========== ======= ============= ============ ========

    All the sort algorithms make temporary copies of the data when
    sorting along any but the last axis.  Consequently, sorting along
    the last axis is faster and uses less space than sorting along
    any other axis.

    The sort order for complex numbers is lexicographic. If both the real
    and imaginary parts are non-nan then the order is determined by the
    real parts except when they are equal, in which case the order is
    determined by the imaginary parts.

    Previous to numpy 1.4.0 sorting real and complex arrays containing nan
    values led to undefined behaviour. In numpy versions >= 1.4.0 nan
    values are sorted to the end. The extended sort order is:

      * Real: [R, nan]
      * Complex: [R + Rj, R + nanj, nan + Rj, nan + nanj]

    where R is a non-nan real value. Complex values with the same nan
    placements are sorted according to the non-nan part if it exists.
    Non-nan values are sorted as before.

    .. versionadded:: 1.12.0

    quicksort has been changed to an introsort which will switch
    heapsort when it does not make enough progress. This makes its
    worst case O(n*log(n)).

    'stable' automatically choses the best stable sorting algorithm
    for the data type being sorted. It is currently mapped to
    merge sort.

    Examples
    --------
    >>> a = np.array([[1,4],[3,1]])
    >>> np.sort(a)                # sort along the last axis
    array([[1, 4],
           [1, 3]])
    >>> np.sort(a, axis=None)     # sort the flattened array
    array([1, 1, 3, 4])
    >>> np.sort(a, axis=0)        # sort along the first axis
    array([[1, 1],
           [3, 4]])

    Use the `order` keyword to specify a field to use when sorting a
    structured array:

    >>> dtype = [('name', 'S10'), ('height', float), ('age', int)]
    >>> values = [('Arthur', 1.8, 41), ('Lancelot', 1.9, 38),
    ...           ('Galahad', 1.7, 38)]
    >>> a = np.array(values, dtype=dtype)       # create a structured array
    >>> np.sort(a, order='height')                        # doctest: +SKIP
    array([('Galahad', 1.7, 38), ('Arthur', 1.8, 41),
           ('Lancelot', 1.8999999999999999, 38)],
          dtype=[('name', '|S10'), ('height', '<f8'), ('age', '<i4')])

    Sort by age, then height if ages are equal:

    >>> np.sort(a, order=['age', 'height'])               # doctest: +SKIP
    array([('Galahad', 1.7, 38), ('Lancelot', 1.8999999999999999, 38),
           ('Arthur', 1.8, 41)],
          dtype=[('name', '|S10'), ('height', '<f8'), ('age', '<i4')])

In [2]:
# #3
def get_element(lst):
  new_lst = []
  for i in lst:
    new_lst.append(i**2)
    return lst[1]

lst = [1, 7, 3, 5]
get_element(lst)

7

In [3]:
# #4
my_dict = {'peaches':'cream', 'cat':'dog', 'this one':'that one'}
my_dict['this one']

'that one'

1. Write a function that inputs an integers and returns the negative

In [4]:
# Write your function here
def change_sign(val):
    return -val

In [5]:
# Test your function with input x
x = 4
change_sign(4)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [6]:
# Write your function here
def get_min(lst):
    min_val = lst[0]
    for i in lst[1:]:
        if i < min_val:
            min_val = i
    return min_val

In [7]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]
get_min(lst)

# Create you own input list to test with
lst2 = [-20.1, 32, 0, -1, 301, -1003]
get_min(lst2)

-1003

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [18]:
# test your challenge problem function
import numpy as np

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'

def my_function(lst1, lst2, str1, str2):
    df = pd.DataFrame({str1:lst1, str2:lst2})
#     df = pd.DataFrame('col1':lst1 ,'col2':lst2)
#     df.rename(columns={'col1':str1, 'col2':str2})
    return df

my_function(lst1, lst2, str1, str2)

    one  alpha
0   213    -65
1   178   -451
2   -66   -328
3   862   -293
4   507   -355
5   -94    -29
6   266   -321
7   210   -194
8   508   -365
9   -12   -271
10   38   -128
11 -164   -154
12  -23   -145
13  706   -448
14  -85    121
15  493   -116
16  407    -45
17  686   -326
18  145    -58
19  857    120
20  712   -472
21  779     93
22  514    -52
23  135   -278
24  570     95
25  309   -103
26  726   -429
27 -213   -433
28   22     23
29  472   -394
..  ...    ...
70  523    -19
71  572   -394
72  704     87
73  855   -522
74 -170   -163
75  170   -365
76  331   -250
77 -165   -411
78  479   -471
79  787   -269
80 -129   -156
81  -49     49
82  290   -243
83  227   -203
84  360   -385
85  109   -321
86 -219   -324
87  443   -394
88  -56     -4
89  -22   -434
90  380     78
91  466   -388
92  -89   -404
93  347   -498
94  916   -421
95  -26      1
96  427   -129
97  463   -443
98  754   -448
99   29     -4

[100 rows x 2 columns]

In [19]:
def my_function2(lst1, lst2, str1, str2):
    df = pd.DataFrame({'col1':lst1 ,'col2':lst2})
    df.rename(columns={'col1':str1, 'col2':str2})
    return df

my_function2(lst1, lst2, str1, str2)

    col1  col2
0    213   -65
1    178  -451
2    -66  -328
3    862  -293
4    507  -355
5    -94   -29
6    266  -321
7    210  -194
8    508  -365
9    -12  -271
10    38  -128
11  -164  -154
12   -23  -145
13   706  -448
14   -85   121
15   493  -116
16   407   -45
17   686  -326
18   145   -58
19   857   120
20   712  -472
21   779    93
22   514   -52
23   135  -278
24   570    95
25   309  -103
26   726  -429
27  -213  -433
28    22    23
29   472  -394
..   ...   ...
70   523   -19
71   572  -394
72   704    87
73   855  -522
74  -170  -163
75   170  -365
76   331  -250
77  -165  -411
78   479  -471
79   787  -269
80  -129  -156
81   -49    49
82   290  -243
83   227  -203
84   360  -385
85   109  -321
86  -219  -324
87   443  -394
88   -56    -4
89   -22  -434
90   380    78
91   466  -388
92   -89  -404
93   347  -498
94   916  -421
95   -26     1
96   427  -129
97   463  -443
98   754  -448
99    29    -4

[100 rows x 2 columns]